# folders of rebuild
buildLinuxDebug/
buildLinuxRelease/
buildLinuxRelWithDebInfo/
buildWinDebug/
buildWinRelease/
buildWinRelWithDebInfo/
build/
.vscode/
x64/

#here you can hold whatever helper scripts and files you want
helperscripts/
